body{
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.name-highlight{
    color:rgb(238, 144, 56);
}

.upper-section{
    width:41%;
    float:left;
    padding: 2%;
    margin: 2%;
}

.upper-section img{
    width: 100%;
}

.mid-section{
    width:41%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
}

.mid-section img{
    width: 100%;
}

.lower-section{
    width:41%;
    float:left;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
    box-shadow: grey 10px 10px 40px;
    border-radius: 5px;
    height:300px;
}

.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 700px;
}

.mid{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 750px;
}

.bottom{
    margin-top: 9%;
    height:500px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}


.button{
    color:white;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 5px;
}

#senior{
    border-left: 7px solid;
    border-image: linear-gradient(orange, rgb(206, 11, 28));
    border-image-slice: 1;
}

#junior{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(63, 177, 230), rgb(211, 33, 181));
    border-image-slice: 1;
}

footer{
   text-align: center; 
}